.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
// header
.container--header {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #ECECEC;
}



.contacts-list {
    display: flex;
    gap: 50px;

    &__link-info {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--grey-txt-cl);
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        text-decoration: none;
        transition-property: color;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
    }
    &__icon {
        fill: currentColor;
    
    }
    &__link-info:hover,
    &__link-info:focus {
        color: var(--accent-txt-cl);
    }
}

.page {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    font-family: Roboto, sans-serif;
}

.logo-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: currentColor;

    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;

    &__accent {
        color: #2196F3;
    }
}

// navigation
.nav {
    margin-right: auto;
    &__list {
        display: flex;
        gap: 50px;
    }
    &__link {
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
    
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        color: currentColor;
        transition-property: color;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
    }
    &__link:hover,
    &__link:focus {
        color: var(--accent-txt-cl);
    }
    &__link.active {
        color: var(--accent-txt-cl);
        position: relative;
    }
    &__link.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background: var(--blue-bg-cl);
        border-radius: 2px;
    }
}


// main

.main {
    background: var(--main-bg-cl);
    padding: 200px 0px;
    text-align: center;
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/bacground/main-bg-sq.jpg");
    background-repeat: no-repeat;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    &__main-title {
        margin-top: 0;
        margin-bottom: 0;
        margin-bottom: 30px;
    
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--light-txt-cl);
    }
    
}
.main .btn {
    padding: 10px 31px;
    width: 216px;
    border: none;
    border-radius: 4px;
    
    min-height: 40px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background: #2196F3;
    cursor: pointer;
}


// features

.features {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-txt-cl);
        margin-bottom: 10px;
    }
    &-list {
        display: flex;
        gap: 30px;
    }
    &-list__iteam {
        width: 270px;
        list-style: none; 
        margin-bottom: 0px;
        
    }
    &__description {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--grey-txt-cl);
    }
}
.box-icon-antenna,
.box-icon-clock,
.box-icon-diagram,
.box-icon-astronaut {
    display: block;
    padding: 25px 100px;
    width: 270px;
    height: 120px;
    padding: auto;
    background: var(--grey-bg-cl);
    border-radius: 4px;
    margin-bottom: 30px;
}

// activity

.activity {
    padding-bottom: 94px;
    &__container {
        position: relative;
    }

    &-list {
        display: flex;
        gap: 30px;
    }
    &__title {
        text-align: center;
        margin-bottom: 50px;
    
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    
    }
    &-list__iteam {
        list-style: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
    
    }
    &__desc {

        position: absolute;
        bottom: 0%;
    
        display: flex;
        justify-content: center;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-align: center;
        align-items: center;
    
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        width: 370px;
        height: 70px;
    
        background: rgba(47, 48, 58, 0.8);
    
        color: var(--light-txt-cl);
    
    }
}

// team

.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px;
    min-height: 708px;
    margin-left: auto;
    margin-right: auto;

    &-list {
        display: flex;
        gap: 30px;
    }
    &-title {

        text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    }
    &-list-item {
        background-color: var(--next-bg-cl);
        list-style: none;
        width: 270px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px
    }
    &-compound__title-name {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
        text-align: center;
        margin-bottom: 10px;
    }
    &-compound__list-title {
        font-size: 16px;
        line-height: calc(19 / 16);
        letter-spacing: 0.03em;
        color: var(--grey-txt-cl);
        text-align: center;
        margin-bottom: 15px;
    }
    &-compound {
        padding-top: 30px;
        padding-bottom: 30px;
        
    }
}

.socials-list {
    display: flex;
    gap: 12px;
    justify-content:center;
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--lightgrey-bg-cl);
        width: 44px;
        height: 44px;
        
        background-color: var(--light-txt-cl);
        border-radius: 50%;
        transition-property: background-color, fill;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
    }
    &__link:hover,
    &__link:focus {
        fill: var(--next-bg-cl);
        background-color: var(--blue-bg-cl);
    
    } 
}

// clients

.clients {
    background: var(--light-txt-cl);

    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;

    &__caption {
        font-size: 36px;
        line-height: calc(42px / 36px);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    
        margin-bottom: 30px;
    }
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &-list__item {
        width: 170px;
        height: 92px;
    }
    &-list__link {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--lightgrey-bg-cl);
        width: 100%;
        height: 100%;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition-property: border, fill;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
    }

    &-list__link:hover,
    &-list__link:focus {
        fill: var(--blue-bg-cl);
        border: 1px solid var(--blue-bg-cl);
    }
}
// footer 
.footer {

    background: var(--main-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    min-height: 252px;
    margin-left: auto;
    margin-right: auto;

    & .container {
        display: flex;
        align-items: baseline;
        
    }
    & .logo-title {
        margin-right: 0px;
        padding-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 0px;
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
    }
    & .link {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }
    &-social-link {
        margin-left: 93px;
    }
    &-social-link__title {
        font-size: 14px;
        line-height: calc(16px / 14px) ;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--light-txt-cl);
        margin-bottom: 20px;
    }
    &-socials-list {
        display: flex;
        gap: 12px;
        justify-content:center;
        align-items: center;
    }
    &-socials-list__link {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--light-txt-cl);
        width: 44px;
        height: 44px;
        
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
    }
    &-socials-list__link:hover, 
    &-socials-list__link:focus {
        background-color: var(--blue-bg-cl);
    }
    &-form {
        display: flex;
        margin-top: 20px;
    }
}

.logo-title__accent-1{
    color: #2196F3;;
}

.logo-title__accent-2 {
    color: #ffffff;
}

// address
.address {
    font-style: normal;
    &__title {
        margin-bottom: 9px;
        font-family: var(--main-font) ;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--light-txt-cl);
        font-style: normal;
    }
    &-list__iteam:not(:last-child) {
        margin-bottom: 9px;
    }
}

// box-form
.box-form {
    margin-left: auto;

    &__title { 
        font-size: 14px;
        line-height: calc(16px / 14px);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__input {
        display: block;
        padding-left: 16px;
        width: 358px;
        height: 50px;
        left: 815px;
        top: 2784px;
        color: var(--light-txt-cl);
        
        outline: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--main-bg-cl);
        transition: var(--anim-fast);
        }
    &__input:hover,
    &__input:focus {
        border-color: var(--blue-bg-cl);
    }
}

.form-btn {
    font-size: 16px;
    line-height: calc(30px / 16px);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    color: #FFFFFF;

    margin-left: 12px;

    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    &__icon {
        margin-left: 10px;
    }
}





// Портфоліо

.work {
    padding-top: 94px;
    padding-bottom: 94px;

    &-list {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        gap: 8px;
    
    }
    &-list__iteam {
        min-height: 40px;
        background: var(--secondary-bg-cl);
        
    }

    &-list__btn {
        display: block;
        border-radius: 4px;
        min-width: 73px;
        padding: 6px 22px;
        border-color: transparent;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26 / 16);
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    
        transition-property: color, background-color, box-shadow;
        transition-duration: var(--anim-fast);
        transition-timing-function: var(--cubic-bezier);
        
        
    }
    &-list__btn:hover,
    &-list__btn:focus {
        color: var(--light-txt-cl);
        background-color: var(--accent-txt-cl);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

// list-ourprojects
.list-ourprojects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.ourprojects-link:hover .overlay,
.ourprojects-link:focus .overlay {
    transform: translateY(0); 
}

.ourprojects-link {
    display: block;
    transition: box-shadow 250ms var(--cubic-bezier);
}
.ourprojects-link:hover,
.ourprojects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.ourprojects-iteam {
    list-style: none;
    flex-basis: calc((100% - 30px * 2) / 3);

    &__thumb {
        position: relative;
        overflow: hidden;
    
    }
    &-box {
        padding: 20px 24px;
        border-right: 1px solid #EEEEEE;;
        border-bottom: 1px solid #EEEEEE;;
        border-left: 1px solid #EEEEEE;;
    }
    &-box__title {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        color: var(--main-txt-cl);
    }
    &-box__description {
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.03em;
        color: var(--grey-txt-cl);
    }
}
// overlay
.overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--blue-bg-rgba);

    &__description {
        color: var(--light-txt-cl);
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28px / 18px);
        letter-spacing: 0.03em;
    }
}



